// Headings
// -----------------------------------------------------------------------------
h1, h2, h3, h4, h5, h6 {

}

// Text
// -----------------------------------------------------------------------------
p {

}

// Links
// -----------------------------------------------------------------------------
a {

  @include hover {

  }
}

// Lists
// -----------------------------------------------------------------------------
ol,
ul,
dl {

}

// Image
// -----------------------------------------------------------------------------
img {

}

figure {

}

figcaption {

}

// Other
// -----------------------------------------------------------------------------
blockquote {

}

strong {

}

small {

}


.download_btn {
  &:before {
    content: '\f019';
    font-family: $icon-font;
    font-style: normal;
    font-weight: 600;
    margin-right: 5px;
  }
}
