{#
/**
 * @file
 * Template for the branding block.
 */
#}
{% embed '@radix/block/block.twig' with {
  html_tag: 'div',
} %}

  {% block content %}
    {% include '@radix/navbar/navbar-brand.twig' with {
      text: site_name,
      image: site_logo,
      width: 'auto',
      height: '350',
      path: path('<front>'),
      alt: elements.content.site_name['#markup'] ~ ' logo' ,
    } %}
  {% endblock %}

{% endembed %}

{#{% block content %}#}
{#  <div class="heading_logo">#}
{#    <div class="masthead">#}
{#      {% if inline_logo or site_logo %}#}

{#        <a class="logo" href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">#}
{#          {% if inline_logo %}#}
{#            {{ logo_svg|raw }}#}
{#          {% elseif site_logo %}#}
{#            <img src="../../themes/custom/ekan_theme/assets/images/logo.png" alt="{{ 'Home'|t }}" width="200"/>#}
{#          {% endif %}#}
{#        </a>#}
{#      {% endif %}#}
{#    </div>#}
{#  </div>#}
{#{% endblock %}#}
