{#
/**
 * @file
 * Template for a local task link.
 */
#}
<li class="{{ element['#link'].title|replace([' ', '-'])|lower }} nav-item">
  <a href="{{ link['#url'] }}" class="nav-link {{ is_active ? 'active' }}">{{ link['#title'] }}</a>
</li>
